<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative transform overflow-hidden rounded-lg bg-gray-900 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
          <div class="bg-gray-900 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <p class="leading-3 font-bold text-xl text-amber-500">Your Cart</p>
            <hr class="mt-3 border-gray-500">
          </div>
          <div class="bg-gray-900 px-4 pb-4 sm:p-6 sm:pb-4">

            <div *ngIf="!apiService.products()">
            <p class="text-white">Your Cart is empty</p>
            </div>

            <div *ngIf="apiService.products().length > 0">
                @for (product of cart.cart; track product) {
                
                    <div class="bg-gray-500 rounded-xl my-1">
                        <div class="flex justify-between">
                            <div class="flex items-center">
                                <img class="m-2" src="{{product.iconUrl}}" alt="" width="24px" height="24px">
                                <p class="text-white mb-0">{{product.title}}</p>
                            </div>
                            <div class="flex items-center mr-2">
                                <p class="m-2 text-amber-500 text-sm font-light">{{product.price || 0 | currency}}</p>
                                <span (click)="removeItemFromCart(product)" class="mx-1 mr-2 pb-1 text-gray-900 hover:text-gray-700 cursor-pointer">x</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div>
            
            </div>
          </div>
          <div class="bg-gray-900 px-6 py-3 flex justify-between items-center">
            <div>
                <p class="text-amber-500">{{totalCartPrice | currency}}</p>
            </div>
            <div class="sm:flex sm:flex-row-reverse">
                <button type="button" class="inline-flex w-full justify-center rounded-md bg-amber-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-amber-400 sm:ml-3 sm:w-auto">Checkout</button>
                <button type="button" (click)="updateModal()" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
