<div class="bg-gray-900 py-4 sm:py-8">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <h2 class="pb-2 font-semibold text-amber-500 text-3xl">{{pageCopy.title}}</h2>
        <p class="pb-6">{{pageCopy.address}}</p>
    </div>
    <div class="mx-auto max-w-7xl px-2 lg:px-4">
        <div class="container px-4">
            <div class="float">
                <img class="rounded-3xl pl-2 pb-2" src="{{pageCopy.photoUrl}}" alt="Happy family on the beach">
            </div>
            <p class="leading-8">{{pageCopy.about}}</p>
        </div>
    </div>
</div>
