<div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="-mx-6 grid grid-cols-2 gap-0.5 overflow-hidden sm:mx-0 sm:rounded-2xl md:grid-cols-3">
      @for (product of apiService.products(); track product.id) {
      <div class="bg-white/5 p-8 sm:p-10 cursor-pointer" (click)="addItem(product)">
        <img class="max-h-12 w-full object-contain" [src]="product.imageUrl" [alt]="product.title" width="158"
          height="48">
      </div>
      }
    </div>
  </div>
</div>