<div class="bg-gray-900 py-10">
  <h2 class="px-4 text-base font-semibold leading-7 text-white sm:px-6 lg:px-8">Sales</h2>
  <table class="mt-6 w-full whitespace-nowrap text-left">
    <colgroup>
      <col class="w-full sm:w-4/12">
      <col class="lg:w-4/12">
      <col class="lg:w-2/12">
      <col class="lg:w-1/12">
      <col class="lg:w-1/12">
    </colgroup>
    <thead class="border-b border-white/10 text-sm leading-6 text-white">
      <tr>
        <th scope="col" (click)="sortTable('customer')" class="sticky top-0 z-10 py-2 pl-4 pr-8 font-semibold sm:pl-6 lg:pl-8
        cursor-pointer hover:text-amber-300 active:text-amber-500">
         Customer</th>
        <th scope="col" (click)="sortTable('total')" class="sticky top-0 z-10 hidden py-2 pl-0 pr-8 font-semibold sm:table-cell
        cursor-pointer hover:text-amber-300 active:text-amber-500">
        Total</th>
        <th scope="col" (click)="sortTable('method')" class="sticky top-0 z-10 hidden py-2 pl-0 pr-8 font-semibold md:table-cell
         lg:pr-20 cursor-pointer hover:text-amber-300 active:text-amber-500">
         Method</th>
        <th scope="col" (click)="sortTable('status')" class="sticky top-0 z-10 py-2 pl-0 pr-4 text-right font-semibold sm:pr-8
         sm:text-left lg:pr-20 cursor-pointer hover:text-amber-300 active:text-amber-500">
          Status</th>
        <th scope="col" (click)="sortTable('time')"
          class="sticky top-0 z-10 hidden py-2 pl-0 pr-4 text-right font-semibold sm:table-cell sm:pr-6 lg:pr-8
          cursor-pointer hover:text-amber-300 active:text-amber-500">
          Time</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-white/5">
      @for (sale of salesTableData; track sale.id) {
      <tr>
        <td class="py-4 pl-4 pr-8 sm:pl-6 lg:pl-8">
          <div class="flex items-center gap-x-4">
            <div class="truncate text-sm font-medium leading-6 text-white">{{sale.customer}}</div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">{{sale.total | currency}}</div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">{{sale.method}}</td>
        <td class="py-4 pl-0 pr-4 text-sm leading-6 sm:pr-8 lg:pr-20">
          <div class="flex items-center justify-end gap-x-2 sm:justify-start">
            <time class="text-gray-400 sm:hidden" datetime="2023-01-23T11:00">45 minutes ago</time>
            <div class="flex-none rounded-full p-1 bg-green-400/10" [class.text-green-400]="sale.status === 'completed'"
              [class.text-yellow-400]="sale.status === 'pending'" [class.text-red-400]="sale.status === 'cancelled'">
              <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
            </div>
            <div class="hidden text-white sm:block">{{sale.status}}</div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-4 text-right text-sm leading-6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
          <time datetime="2023-01-23T11:00">{{sale.time | date:'shortTime'}}</time>
        </td>
      </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <th scope="row" colspan="3" class="hidden pl-4 pr-3 pt-6 text-right text-sm font-normal text-gray-500 sm:table-cell sm:pl-0">Subtotal</th>
        <th scope="row" class="pl-4 pr-3 pt-6 text-left text-sm font-normal text-gray-500 sm:hidden">Subtotal</th>
        <td class="pl-3 pr-4 pt-6 text-right text-sm text-gray-500 sm:pr-0">{{apiService.dailySubtotal() | currency}}</td>
      </tr>
      <tr>
        <th scope="row" colspan="3" class="hidden pl-4 pr-3 pt-4 text-right text-sm font-normal text-gray-500 sm:table-cell sm:pl-0">Tax</th>
        <th scope="row" class="pl-4 pr-3 pt-4 text-left text-sm font-normal text-gray-500 sm:hidden">Tax</th>
        <td class="pl-3 pr-4 pt-4 text-right text-sm text-gray-500 sm:pr-0">{{apiService.collectedTax() | currency}}</td>
      </tr>
      <tr>
        <th scope="row" colspan="3" class="hidden pl-4 pr-3 pt-4 text-right text-sm font-semibold text-white sm:table-cell sm:pl-0">Total</th>
        <th scope="row" class="pl-4 pr-3 pt-4 text-left text-sm font-semibold text-white sm:hidden">Total</th>
        <td class="pl-3 pr-4 pt-4 text-right text-sm font-semibold text-white sm:pr-0">{{apiService.dailySubtotal() + apiService.collectedTax() | currency}}</td>
      </tr>
    </tfoot>
  </table>
</div>